<div class="p-3 mb-2 bg-light text-dark border border-dark">
  <h1 class="display-4"><%= @friend.first_name %> <%= @friend.last_name %></h1>
  <p class="lead"><p>
  <%= @friend.first_name %> |
  <%= @friend.last_name %> |
  <%= @friend.email %> |
  <%= @friend.phone %> | 
  <%= @friend.twitter %> | 
  </p>
  <br/>
  <br/>
  <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %>
  <%= link_to 'Back', friends_path, class:"btn btn-dark"%>

</div>



